@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(200,124,193);
background: linear-gradient(90deg, rgba(200,124,193,0.35057773109243695) 0%, rgba(189,124,200,0.35898109243697474) 51%, rgba(124,140,200,0.38699229691876746) 100%);
    font-family: 'Poppins', sans-serif;
}